{% extends "base.html.twig" %}
{% block title %}Agence Ouc {% endblock %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence Ouc</h1>
        <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus scelerisque quam et purus sodales ultricies. Fusce eget enim non dui lobortis convallis. Suspendisse sapien turpis,
    lobortis a finibus ut, iaculis ut tortor. Suspendisse laoreet, arcu ut semper interdum, augue odio condimentum enim, eu pellentesque lorem orci elementum tellus. Nam sapien dui,
    tristique vel accumsan at, venenatis vitae nibh. Nulla mollis vulputate ex a hendrerit. In tempor massa nec dui hendrerit ornare. Duis imperdiet commodo suscipit. Curabitur dapibus augue ut euismod lacinia. Quisque ullamcorper nunc eget nulla sollicitudin tempus.
    Suspendisse elementum auctor orci tincidunt pharetra. Curabitur tellus arcu, pellentesque vitae quam luctus, auctor lobortis leo. Vestibulum at nisi vel nisl sodales sagittis.</p>
    </div>

{% endblock %}